name: Composer Install v2.5

on: ["push", "pull_request"]

jobs:
  composer-install-v25:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP Version 8.2
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        tools: composer:2.5

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install Composer dependencies
      run: composer install --prefer-dist --no-progress